---
import {
  Breadcrumb,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbList,
  BreadcrumbPage,
  BreadcrumbSeparator,
} from '@/components/ui/breadcrumb'
import { Icon } from 'astro-icon/components'
// import MobileMenu from '@/components/ui/mobile-menu'
import ThemeToggle from '@/components/ThemeToggle.astro'

export interface BreadcrumbItem {
  href?: string
  label: string
  icon?: string
}

interface Props {
  items: BreadcrumbItem[]
}

const { items } = Astro.props
---

{/* 全体を囲む親コンテナを作成し、justify-betweenで要素を両端に配置します */}
<div class="flex w-full items-center justify-between">
  {/* パンくずリスト部分 */}
  <Breadcrumb>
    <BreadcrumbList className="flex items-center">
      <BreadcrumbItem>
        <BreadcrumbLink href="/">
          <Icon name="lucide:home" class="size-4 shrink-0" />
        </BreadcrumbLink>
      </BreadcrumbItem>
      {
        items.map((item, index) => (
          <>
            <BreadcrumbSeparator />
            <BreadcrumbItem>
              {index === items.length - 1 ? (
                <BreadcrumbPage>
                  <span class="flex items-center gap-x-2">
                    {item.icon && (
                      <Icon name={item.icon} class="size-4 shrink-0" />
                    )}
                    <span>{item.label}</span>
                  </span>
                </BreadcrumbPage>
              ) : (
                <BreadcrumbLink href={item.href}>
                  <span class="flex items-center gap-x-2">
                    {item.icon && (
                      <Icon name={item.icon} class="size-4 shrink-0" />
                    )}
                    <span>{item.label}</span>
                  </span>
                </BreadcrumbLink>
              )}
            </BreadcrumbItem>
          </>
        ))
      }
    </BreadcrumbList>
  </Breadcrumb>

  {/* 右寄せ */}
  <div class="flex items-center ">
   {/* <MobileMenu client:load transition:persist />  // Mobile時の View Transition による描画不良の問題が解決できなかったので  */}
    <ThemeToggle transition:persist />
  </div>
</div>